<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ares.animationdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view_animation.activity.AlphaAnimationActivity"
            android:label="AlphaAnimationActivity" />
        <activity
            android:name=".view_animation.activity.RotateAnimationActivity"
            android:label="RotateAnimationActivity" />
        <activity
            android:name=".view_animation.activity.ScaleAnimationActivity"
            android:label="ScaleAnimationActivity" />
        <activity
            android:name=".view_animation.activity.TranslateAnimationActivity"
            android:label="TranslateAnimationActivity" />
        <activity android:name=".view_animation.ViewAnimationActivity"></activity>
    </application>

</manifest>